html {
    height: 100%
}

.home,
body {
    background-image: url("oldmain.jpg");
    opacity: 0.5;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}